.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos{
    display: flex;
    justify-content:center;
}

.estilos{
    background-color: black;
    padding: 30px;
}
.fondo{
    text-align: center;
    color: white;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

.ahrefa{
    padding: 2%;
}

.ahref:hover{
    border-bottom:underline solid 1px orange;
    color: orange;
}

.qr-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr{
    width: 30%;
}