.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos{
    display: flex;
    justify-content:center;
}

.estilos{
    background-color: #809A7D;
    padding: 30px;
}
.fondo{
    text-align: center;
    color: white;
    font-size: 30px;
}