.ContenedorForm{
    display: flex;
    justify-content: center;
}
.formularioHome{
display: flex;
flex-direction: column;
width: 50%;
}

.button-contacto{
    background-color: #809A7D;
    color: white;
}