.ContenedorForm{
    display: flex;
    justify-content: center;
}
.formularioHome{
display: flex;
flex-direction: column;
width: 60%;
}

.button-contacto{
    background-color: black;
    color: white;
}
