.colapso{
    display: flex;
    justify-content: center;
}

.link{
    font-size: 1.5rem;
    margin-inline: 5%;
}

.link:hover{
    border: solid 0.01px white;
}

.navbar-nav{
    display: flex;
    justify-content: center;
}

.Nav-Bar{
    background:rgb(255, 255, 255, 0.5);
}