.nosotros-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros{
    margin-top:100px;
    padding: 10px;
}

.texto-empresa{
    padding: 10px;
    margin-top: -5px;
    width: 80%;
}
.textocheck{
    display: flex;
    
    align-items: flex-start;
}

.fondo-azul{
    background-color: blue;
    color: white;
    padding: 20px;
}

.nosotros-img{
    height: auto;
    width: 100%;
}
